@use "../../variables" as *;

.card-change {
  overflow: hidden;
  height: auto;
  border-radius: 0%;
  border: 0px;
}

.triangle {
  position: absolute;
  z-index: 2;
  border-bottom: 150px solid transparent;
  border-left: 150px solid white;
}

.triangle-text {
  position: absolute;
  z-index: 2;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: $orange_bistre;
  margin-left: 6px;
}

.card-img-change {
  transition: all 0.5s ease;
  cursor: pointer;
  &:hover {
    @media screen and(min-width:$breakpoint-md) {
      transform: scale(1.2, 1.2);
    }
  }
}

.button-change {
  margin: 30px auto 0 auto;
}

.card-body-change {
  padding: 0;
  font-size: 14px;
  line-height: 33px;
}

.card-body-field {
  position: relative;
  padding: 32px;
  background-color: #f5f5f5;
}
