@use "../../variables" as *;

.card-self {
  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 0px;

    background: transparent;

    border-top: 100px solid $white;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid $white;
    .card-title-self {
      display: block;
      width: 91px;
      height: 29px;
      font-family: $fontfamily-gothic;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 29px;
      color: $orange_bistre;
      padding: 0px 0px 0px 2px;
    }
  }
  .card-body-self {
    .card-text-self {
      width: 160px;
      height: 34px;
      font-family: $fontfamily-gothic;
    }
  }
}
