@use "../../variables" as *;

.top {
  .img-group {
    position: relative;
    width: 992px;
    img {
      display: flex;
      width: 992px;
      height: 700px;
    }
    .literal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      p {
        font-family: $fontfamily-mincho;
        display: flex;
        align-items: center;
        color: $white;
        writing-mode: vertical-rl;
      }
    }
  }
  .message {
    background-color: $black;
    h2 {
      color: $white;
    }
    p {
      color: $white;
    }
  }
  @media screen and(max-width:$breakpoint-lg) {
    position: relative;
    .img-group {
      img {
        width: 992px;
        height: 360px;
        object-fit: cover;
      }
      .literal {
        p {
          font-size: 20px;
          line-height: 29px;
        }
      }
    }
    .message {
      width: 992px;
      height: 211px;
      padding: 32px 161px 20px 161px;
      h2 {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 6px;
      }
      p {
        line-height: 28px;
      }
    }
  }
  @media screen and(min-width:$breakpoint-lg) {
    .img-group {
      .literal {
        p {
          font-size: 36px;
          line-height: 52px;
        }
      }
    }
    .message {
      width: 992px;
      height: 316px;
      padding: 52px 63px 74px 36px;
      h2 {
        font-size: 36px;
        line-height: 52px;
        margin-bottom: 10px;
      }
      p {
        line-height: 36px;
      }
    }
  }
}
