@use "../../variables" as *;

.top {
  .img-group {
    position: relative;
    background-image: url(../../../img/top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .literal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      p {
        font-family: $fontfamily-mincho;
        display: flex;
        align-items: center;
        color: $white;
        writing-mode: vertical-rl;
      }
    }
  }
  .message {
    background-color: $black;
    width: 100%;
    h2 {
      color: $white;
    }
    p {
      color: $white;
    }
  }
  @media screen and(max-width:$breakpoint-lg) {
    .img-group {
      background-position: -20px;
      height: 360px;
      .literal {
        p {
          font-size: 20px;
          line-height: 29px;
        }
      }
    }
    .message {
      height: 211px;
      h2 {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 6px;
      }
      p {
        line-height: 28px;
      }
    }
  }
  @media screen and(min-width:$breakpoint-lg) {
    position: relative;
    .img-group {
      width: 100%;
      min-height: 0;
      padding-top: 75%;

      .literal {
        p {
          font-size: 36px;
          line-height: 52px;
        }
      }
    }
    .message {
      position: absolute;
      height: 316px;
      padding: 52px 63px 74px 36px;
      h2 {
        font-size: 36px;
        line-height: 52px;
        margin-bottom: 10px;
      }
      p {
        line-height: 36px;
      }
    }
  }
}
