@use "../../variables" as *;

.top {
  .img-group {
    position: relative;
    img {
      display: flex;
      width: 992px;
      height: 700px;
    }
    .literal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      p {
        font-family: $fontfamily-mincho;
        font-size: 36px;
        line-height: 52px;
        display: flex;
        align-items: center;
        color: $white;
        writing-mode: vertical-rl;
      }
    }
  }
  .message {
    width: 992px;
    height: 316px;
    background-color: $black;
    padding: 52px 63px 74px 36px;
    h2 {
      color: $white;
      font-size: 36px;
      line-height: 54px;
      display: flex;
      align-items: center;
      text-align: center;
      margin-bottom: 10px;
    }
    p {
      line-height: 36px;
      color: $white;
    }
  }
}
