<header class="container-change">
  <a class="switch" href="#">
    <img src="../../../img/header.png" alt="" />
  </a>
  <div
    class="btn-group btn-group-change"
    role="group"
    aria-label="Basic example"
  >
    <button class="btn btn-secondary">HOME</button>
    <div class="dropdown">
      <button
        class="btn btn-secondary"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        CONCEPT
      </button>
      <div class="dropdown-menu">
        <a href="" class="dropdown-item">ブログアーカイブ</a
        ><a href="" class="dropdown-item">お知らせアーカイブ</a
        ><a href="" class="dropdown-item">イベントアーカイブ</a>
        <a href="" class="dropdown-item">インタビューアーカイブ</a
        ><a href="" class="dropdown-item">FAQページ</a
        ><a href="" class="dropdown-item">固定ページ(デフォルト)</a>
        <a href="" class="dropdown-item">CONCEPT</a
        ><a href="" class="dropdown-item">SERVICE</a
        ><a href="" class="dropdown-item">FLOOR</a>
        <a href="" class="dropdown-item">ACCESS</a>
      </div>
    </div>
    <button class="btn btn-secondary">SERVICE</button>
    <button class="btn btn-secondary">FLOOR</button>
    <button class="btn btn-secondary">INTERVIEW</button>
    <button class="btn btn-secondary">BLOG</button>
    <button class="btn btn-secondary">ACCESS</button>
    <button class="btn btn-secondary">DOWNLOAD</button>
  </div>
  <div class="rectangle-group">
    <label for="check">
      <div class="rectangle"></div>
      <div class="rectangle"></div>
      <div class="rectangle"></div>
    </label>
    <input type="checkbox" id="check" />
    <ul class="rectangle-dropdown-menu dropdown">
      <li><a href="#">HOME</a></li>
      <li>
        <a href="#">CONCEPT</a>
        <ul>
          <li><a href="#">ブログアーカイブ</a></li>
          <li><a href="#">お知らせアーカイブ</a></li>
          <li><a href="#">イベントアーカイブ</a></li>
          <li><a href="#">インタビューアーアーカイブ</a></li>
          <li><a href="#">FAQページ</a></li>
          <li><a href="#">固定ページ(デフォルト)</a></li>
          <li><a href="#">CONCEPT</a></li>
          <li><a href="#">SERVICE</a></li>
          <li><a href="#">FLOOR</a></li>
          <li><a href="#">ACCESS</a></li>
        </ul>
      </li>
      <li><a href="#">SERVICE</a></li>
      <li><a href="#">FLOOR</a></li>
      <li><a href="#">INTERVIEW</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">ACCESS</a></li>
      <li><a href="#">DOWNLOAD</a></li>
    </ul>
  </div>
</header>
