<header class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../../img/header.png" alt="" />
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">HOME</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle active"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          CONCEPT
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a href="#" class="dropdown-item">ブログアーカイブ</a></li>
          <li><a href="#" class="dropdown-item">お知らせアーカイブ</a></li>
          <li><a href="#" class="dropdown-item">イベントアーカイブ</a></li>
          <li>
            <a href="#" class="dropdown-item">インタビューアーアーカイブ</a>
          </li>
          <li><a href="#" class="dropdown-item">FAQアーカイブ</a></li>
          <li>
            <a href="#" class="dropdown-item">固定ページ(デフォルト)</a>
          </li>
          <li><a href="#" class="dropdown-item">CONCEPT</a></li>
          <li><a href="#" class="dropdown-item">SERVICE</a></li>
          <li><a href="#" class="dropdown-item">FLOOR</a></li>
          <li><a href="#" class="dropdown-item">ACCESS</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">SERVICE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">FLOOR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">INTERVIEW</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">ACCESS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">DOWNLOAD</a>
      </li>
    </ul>
  </div>
</header>
