@use "../../variables" as *;

div.container-change {
  display: flex;
  @media screen and(max-width:$breakpoint-lg) {
    background-color: $black;
    width: 992px;
    height: 60px;
    margin-bottom: 10px;
    a.switch {
      margin: auto 0px auto 16px;
      width: 120px;
      height: 20.56px;
      img {
        width: 120px;
      }
    }
    div.btn-group-change {
      display: none;
    }
    div.rectangle-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 2px 0px;
      gap: 3px;
      height: 19px;
      margin: auto 16px auto 825px;
      cursor: pointer;
      .rectangle {
        width: 15px;
        height: 3px;
        background-color: $white;
        border-radius: 1px;
      }
      &:active ul.rectangle-dropdown-menu {
        display: block;
      }
      ul.rectangle-dropdown-menu {
        display: none;
        list-style: none;
        background-color: $black;
        position: absolute;
        top: 76px;
        left: 16px;
        z-index: 1000;
        float: left;
        min-width: 10rem;
        font-size: 1rem;
        text-align: left;
        background-clip: padding-box;
        box-sizing: border-box;
        width: 992px;
        padding: 0px 0px 0px 16px;
        li {
          width: fit-content;
          margin: 15px 0px;
          a {
            font-size: 14px;
            color: $white;
            text-decoration: none;
          }
          ul {
            padding: 0px 0px 0px 12px;
          }
        }
      }
    }
  }
  @media screen and(min-width:$breakpoint-lg) {
    background-color: $black_50;
    width: 1200px;
    height: 90px;
    a.switch {
      margin: auto 237px auto 30px;
      width: 140px;
      height: 23.99px;
      img {
        width: 140px;
      }
    }
    div.btn-group-change {
      button {
        background-color: transparent;
        border: 0px;
        margin: 35px 20px !important;
        padding: 0px;
        font-size: 14px;
        font-weight: 400px;
        &:hover {
          color: $gray_nobel;
        }
        &:last-child {
          margin-right: 50px;
        }
      }
      div {
        div {
          background-color: $black;
          margin: 0px;
          border: 0px;
          padding: 0px;
          border-radius: 0%;
          width: 220px;
          height: 560px;
          transform: translate3d(0px, 90px, 0px) !important;
          a {
            color: $white;
            padding: 18px 90px 18px 18px;
            font-size: 14px;
            line-height: 20px;
            transition: all 0.2s ease;
            &:hover {
              background-color: $orange_bistre;
            }
          }
        }
      }
    }
    div.rectangle-group {
      display: none;
      width: 0px;
    }
  }
}
