<header class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" href="#">
    <img src="../../../img/header.png" alt="" />
  </a>
  <label for="check1">
    <div class="rectangle"></div>
    <div class="rectangle"></div>
    <div class="rectangle"></div>
  </label>
  <input type="checkbox" id="check1" checked />
  <div class="contents" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item">
        <a class="active" aria-current="page">HOME</a>
      </li>
      <li class="nav-item">
        <input type="checkbox" id="check3" />
        <label for="check3" id="check3L">
          <a
            class="active"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            CONCEPT
          </a>
        </label>
        <input type="checkbox" id="check2" />
        <label for="check2">
          <div class="plus"></div>
          <div class="circle"></div>
        </label>
        <ul aria-labelledby="navbarDropdown">
          <li><a>ブログアーカイブ</a></li>
          <li><a>お知らせアーカイブ</a></li>
          <li><a>イベントアーカイブ</a></li>
          <li>
            <a>インタビュアーアーカイブ</a>
          </li>
          <li><a>FAQページ</a></li>
          <li><a>固定ページ(デフォルト)</a></li>
          <li><a>CONCEPT</a></li>
          <li><a>SERVICE</a></li>
          <li><a>FLOOR</a></li>
          <li><a>ACCESS</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="active" aria-current="page">SERVICE</a>
      </li>
      <li class="nav-item">
        <a class="active" aria-current="page">FLOOR</a>
      </li>
      <li class="nav-item">
        <a class="active" aria-current="page">INTERVIEW</a>
      </li>
      <li class="nav-item">
        <a class="active" aria-current="page">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="active" aria-current="page">ACCESS</a>
      </li>
      <li class="nav-item">
        <a class="active" aria-current="page">DOWNLOAD</a>
      </li>
    </ul>
  </div>
</header>
