@use "../../variables" as *;
header.navbar {
  background-color: $black;
  display: block;
  padding-bottom: 0px;
  a {
    img {
      width: 120px;
    }
  }
  div.contents {
    ul.navbar-nav {
      display: block;
      margin-bottom: 0px;
      li {
        margin: 15px 0px;
        a {
          color: $white;
          font-size: 14px;
          line-height: 20px;
        }
      }
      li:nth-child(2) {
        ul {
          list-style: none;
          margin-left: 12px;
          padding-left: 0px;
          li {
            a {
              padding: 0px;
            }
          }
        }
      }
    }
  }
  @media screen and(min-width:$breakpoint-xl) {
    background-color: $black_50;
    display: flex;
    padding-top: 0px;
    height: 90px;
    width: 1200px;
    a {
      img {
        width: 140px;
        height: 24px;
      }
    }
    div.contents {
      ul.navbar-nav {
        display: flex;
        margin-left: 257px;
        li {
          margin: 35px 20px;
        }
        li:nth-child(2) {
          display: block;
          ul {
            position: absolute;
            background-color: $black;
            top: 90px;
            left: 488px;
            padding-top: 18px;
            li {
              margin: 0px auto 36px 18px;
              width: 220px;
            }
            li:last-child {
              margin-bottom: 18px;
            }
          }
        }
      }
    }
  }
}
