@use "../../variables" as *;

.news-contents {
  ul {
    padding-left: 0px;
    margin-bottom: 0px;
    li {
      display: flex;
      flex-direction: column;
      padding: 20px;
      height: 85px;
      background-color: $white;
      border-top: 1px solid $gray_gainsboro;
      border-left: 1px solid $gray_gainsboro;
      border-right: 1px solid $gray_gainsboro;
      cursor: pointer;
      time {
        margin: 0px 0px 10px;
        font-size: 12px;
        line-height: 12px;
        color: $gray_nobel;
      }
      article {
        line-height: 23px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      article:hover {
        color: $orange_bistre;
      }
    }
    li:last-child {
      border-bottom: 1px solid $gray_gainsboro;
    }
  }
}
.notice {
  text-align: right;
  .minor-change {
    margin-top: 30px;
    width: fit-content;
    margin-bottom: 35px;
  }
}
