<div class="footer">
  <div class="contact">
    <img src="../../../img/header.png" alt="switch" />
    <div class="address">
      <p>〒532-0011&nbsp;&nbsp;大阪市淀川区西中島6丁目8-23テスト</p>
      <p>
        TEL.06-1234-5678
        FAX.06-1234-5678&nbsp;&nbsp;営業時間/9:00-22:00&nbsp;&nbsp;定休日/不定休
      </p>
    </div>
    <div class="icon-list"></div>
  </div>
  <div class="content-list">
    <div class="left">
      <p>HOME</p>
      <div class="bar"></div>
      <p>SERVICE</p>
      <div class="bar"></div>
      <p>INTERVIEW</p>
      <div class="bar"></div>
      <p>ACCESS</p>
      <div class="bar"></div>
    </div>
    <div class="right">
      <p>CONCEPT</p>
      <div class="bar"></div>
      <p>FLOOR</p>
      <div class="bar"></div>
      <p>BLOG</p>
      <div class="bar"></div>
      <p>DOWNLOAD</p>
    </div>
  </div>
  <div class="copyright">
    Copyright&nbsp;&copy;&nbsp;WordPressテーマ「Switch&#40;tcd063&#41;」All&nbsp;Right&nbsp;Reserved
  </div>
</div>
