@use "../../variables" as *;
.footer {
  .contact {
    background-color: $white;
    width: fit-content;
    background-image: url(../../../img/footer.png);
    background-repeat: no-repeat;
    background-size: 150px 25.7px;
    background-position: top 32px center;
    padding: 77.7px 0px 32px;
    margin: 0px auto;
    .address {
      p {
        font-size: 14px;
        line-height: 28px;
        margin: 0px;
        text-align: center;
      }
    }
    .icon-list {
      text-align: center;
      margin-top: 20px;
      &:hover {
        color: $gray_nobel;
      }
    }
  }
  .content-list {
    display: grid;
    grid-template-columns: repeat((2, 1fr));
    background-color: $white_smoke;
    padding: 16px;
    .side {
      display: grid;
      gap: 8px;
      p {
        margin-bottom: 0px;
      }
      .bar {
        display: none;
      }
    }
  }
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    background-color: $black;
    color: $white;
    font-size: 12px;
    line-height: 12px;
  }
  @media screen and(min-width:$breakpoint-md) {
    .contact {
      padding: 97.7px 0px 52px;
    }
    .content-list {
      display: flex;
      justify-content: center;
      .side {
        display: flex;
        .bar {
          display: block;
        }
      }
      .side:last-child {
        margin-left: 8px;
      }
    }
  }
}
