@use "../../variables" as *;

.message-lg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 52px 20px;

  position: absolute;
  width: 327px;
  height: 204px;
  left: 20px;
  top: 20px;
  .text-title {
    width: 287px;
    height: 54px;
    font-family: $fontfamily-mincho;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000;

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .explanation-text {
    width: 84px;
    height: $fontsize-xl;

    font-family: $fontfamily-gothic;
    font-style: normal;
    font-weight: 400;
    font-size: $fontsize-s;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000;

    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

.message-md {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 20px;

  position: absolute;
  width: 200px;
  height: 128px;
  left: 418px;
  top: 20px;
  .text-title {
    width: 160px;
    height: 30px;

    font-family: $fontfamily-mincho;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    display: flex;
    align-items: center;
    text-align: center;

    color: $black;

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .explanation-text {
    width: 84px;
    height: 28px;

    font-family: $fontfamily-gothic;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

    display: flex;
    align-items: center;
    text-align: center;

    color: $black;

    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
