@use "../../variables" as *;

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: breakpoint-lg) {
    padding: 52px 20px;
  }
  @media screen and (max-width: breakpoint-lg) {
    padding: 32px 20px;
  }

  .text-title {
    font-family: $fontfamily-mincho;
    align-items: center;
    text-align: center;
    color: $black;

    @media screen and (min-width: $breakpoint-lg) {
      font-size: $fontsize-xl;
      line-height: 54px;
    }

    @media screen and(max-width:$breakpoint-lg) {
      font-size: $fontsize-l;
      line-height: 30px;
    }
  }
  .explanation-text {
    font-style: normal;
    font-size: $fontsize-s;
    color: $black;

    @media screen and (min-width: $breakpoint-lg) {
      height: 36px;
      line-height: 36px;
    }

    @media screen and(max-width:$breakpoint-lg) {
      height: 28px;
      line-height: 28px;
    }
  }
}
