@use "../../variables" as *;

.message-lg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 52px 20px;

  position: absolute;
  width: 327px;
  height: 204px;
  left: 20px;
  top: 20px;
  .text-title {
    font-family: $fontfamily-mincho;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
    flex: none;
    order: 0;
    flex-grow: 0;

    @media screen and(max-width:$breakpoint-md) {
      width: 160px;
      height: 30px;
      font-size: $fontsize-l;
      line-height: 30px;
    }

    @media screen and (min-width: $breakpoint-md) {
      width: 287px;
      height: 54px;
      font-size: $fontsize-xl;
      line-height: 54px;
    }
  }
  .explanation-text {
    width: 84px;
    font-family: $fontfamily-gothic;
    font-style: normal;
    font-weight: 400;
    font-size: $fontsize-s;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000;

    flex: none;
    order: 0;
    flex-grow: 0;

    @media screen and (min-width: $breakpoint-md) {
      height: 36px;
      line-height: 36px;
    }

    @media screen and(max-width:$breakpoint-md) {
      height: 28px;
      line-height: 28px;
    }
  }
}
