@use "../../variables" as *;

.button {
  display: flex;
  justify-content: center;
  background-color: $black;
  padding: 0px 16px;

  transition: all 0.2s ease;

  position: absolute;
  color: $white;
  align-items: center;
  cursor: pointer;
  font-size: $fontsize-s;

  &:hover {
    background-color: $orange_bistre;
    color: $white;
    text-decoration: none;
  }

  @media screen and(min-width:$breakpoint-md) {
    width: 180px;
    height: 45px;
  }

  @media screen and(max-width:$breakpoint-md) {
    width: 150px;
    height: 55px;
  }
}
