.btn_hover3 {
  background-color: #000000;
  transition: all 0.3s ease;
  padding: 0px 16px;
  width: 200px;
  height: 55px;
  color: #fff;
  align-items: center;
  cursor: pointer;
}

.btn_hover3:hover {
  background-color: #442606;
}
