@use "../../variables" as *;

.button {
  background-color: $black;
  transition: all 0.2s ease;
  padding: 0px $fontsize-m;
  width: 200px;
  height: 55px;
  color: $white;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $orange_bistre;
  }
}
