<div class="card-group">
  <div class="card card-change">
    <div class="triangle"></div>
    <div class="triangle-text">CONCEPT</div>
    <img src="../../../img/card-1.jpg" class="card-img-change" alt="card1" />
    <div class="card-body-field">
      <div class="card-body card-body-change">
        「本屋」でも「自習室」でもない、新しい空間。それがこのカフェ&コワーキングです。
      </div>
      <div class="card-body card-body-change">
        お好きなドリンクを飲みながらゆったりと気兼ねなく勉強や仕事に取り組んでいただけます。
      </div>
      <a class="button button-change">コンセプト</a>
    </div>
  </div>
  <div class="card card-change">
    <div class="triangle"></div>
    <div class="triangle-text">SERVICE</div>
    <img src="../../../img/card-2.jpg" class="card-img-change" alt="card1" />
    <div class="card-body-field">
      <div class="card-body card-body-change">
        喫茶・軽食を楽しめるカフェスペース。ビジネス書から最新の雑誌まで取り揃えるブックスペース。ブース型のパーソナルワークスペースに、開放感があるコワーキングスペース。
      </div>
      <a class="button button-change">サービス</a>
    </div>
  </div>
  <div class="card card-change">
    <div class="triangle"></div>
    <div class="triangle-text">FLOOR</div>
    <img src="../../../img/card-3.jpg" class="card-img-change" alt="card1" />
    <div class="card-body-field">
      <div class="card-body card-body-change">
        カフェ・ブック・コワーキング。各エリアで異なるコンセプトを持つ当店では。目的や気分に合わせてフロア内を移動することで充実した時間をお過ごしいただけます。
      </div>
      <a class="button button-change">フロアー</a>
    </div>
  </div>
</div>
